/* 
    Document   : intro
    Created on : 2.9.2013, 11:37:02
    Author     : Work
    Description:
        Purpose of the stylesheet follows.
*/

#mod-gallery-intro-thumb-container {
    width:100%;
    overflow-x: hidden;
    height:160px;
}
